@import '../../../../assets/styles/collections/_variables.scss';

$select-list-background-color: $background-light;
$select-list-item-color: $text-color-dark;
$select-list-border-color: #dcdde1;
$select-border-radius: 8px;
$select-transition-duration: 0.2s;

// $primary-color: #3498db;
// $primary-text-color: #fff;
// $primary-shadow: 0 4px 8px rgba(37, 85, 232, 0.4);

// $secondary-color: #2ecc71;
// $secondary-text-color: #fff;
// $secondary-shadow: 0 4px 8px rgba(46, 204, 113, 0.4);

// $danger-color: #e74c3c;
// $danger-text-color: #fff;
// $danger-shadow: 0 4px 8px rgba(231, 76, 60, 0.4);

// $select-list-background-color: #ffffff;
// $select-list-item-color: #2f3640;
// $select-list-border-color: #dcdde1;
// $select-border-radius: 8px;
// $select-transition-duration: 0.2s;

.button-select {
  position: relative;

  &.disabled {
    opacity: 0.35;
    cursor: not-allowed;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-radius: $select-border-radius;
  padding: 10px 12px;
  cursor: pointer;
  transition:
    box-shadow $select-transition-duration,
    transform $select-transition-duration;
  width: 100%;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.35;
  }

  svg {
    width: 10px;
    height: 10px;
  }

  &:hover {
    transform: none !important;
  }

  &.open {
    box-shadow: none;
  }

  &.primary {
    background-color: $primary-color;
    color: $primary-text-color;
    box-shadow: 0 10px 20px -10px $primary-shadow;
  }

  &.secondary {
    background-color: $secondary-color;
    color: $secondary-text-color;
    box-shadow: 0 10px 20px -10px $secondary-shadow;
  }

  &.danger {
    background-color: $danger-color;
    color: $danger-text-color;
    box-shadow: 0 10px 20px -10px $danger-shadow;
  }
}

.list {
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  width: 100%;
  min-width: fit-content;
  overflow: hidden;
  border-radius: $select-border-radius;
  border: 1px solid $select-list-border-color;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5px);
  transition:
    opacity $select-transition-duration,
    visibility $select-transition-duration,
    transform $select-transition-duration;

  display: flex;
  flex-direction: column;
  background-color: $select-list-background-color;

  &.open {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  &__item {
    padding: 10px 12px;
    cursor: pointer;
    font-size: 14px;
    line-height: 120%;
    color: $select-list-item-color;
    white-space: nowrap;
    transition: color $select-transition-duration;

    &:hover,
    &.selected {
      color: $primary-color;
    }
  }
}
