// Общая палитра цветов
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$danger-color: var(--danger-color);

$primary-text-color: var(--primary-text-color);
$secondary-text-color: var(--secondary-text-color);
$danger-text-color: var(--danger-text-color);

$background-light: var(--background-light);
$background-dark: var(--background-dark);
$text-color-light: var(--text-color-light);
$text-color-middle: var(--text-color-middle);
$text-color-dark: var(--text-color-dark);
$placeholder-color: var(--placeholder-color);
$border-color: var(--border-color);
$box-shadow-color: var(--box-shadow-color);

$primary-shadow: var(--primary-shadow);
$secondary-shadow: var(--secondary-shadow);
$danger-shadow: var(--danger-shadow);

$disabled-opacity: 0.35;
$error-color: rgb(255, 102, 102);

:root {
  // Светлая тема
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --danger-color: #e74c3c;

  --primary-text-color: #fff;
  --secondary-text-color: #fff;
  --danger-text-color: #fff;

  --background-light: #f9f9f9;
  --background-dark: #222222;
  --text-color-middle: #707070;
  --text-color-light: #ffffff;
  --text-color-dark: #222222;
  --placeholder-color: #a3a3a338;
  --border-color: #444444;
  --box-shadow-color: rgba(0, 0, 0, 0.1);

  --primary-shadow: rgba(37, 85, 232, 0.4);
  --secondary-shadow: rgba(46, 204, 113, 0.4);
  --danger-shadow: rgba(231, 76, 60, 0.4);
}

// Темная тема
.dark-theme {
  --primary-color: #2ecc71;
  --secondary-color: #3498db;
  --danger-color: #e74c3c;

  --primary-text-color: #222;
  --secondary-text-color: #fff;
  --danger-text-color: #fff;

  --background-light: #333;
  --background-dark: #111;
  --text-color-light: #ffffff;
  --text-color-middle: #ffffff;
  --text-color-dark: #ffffff;
  --placeholder-color: #444444;
  --border-color: #555555;
  --box-shadow-color: rgba(100, 100, 100, 0.1);

  --primary-shadow: rgba(46, 204, 113, 0.4);
  --secondary-shadow: rgba(37, 85, 232, 0.4);
  --danger-shadow: rgba(231, 76, 60, 0.4);
}
