@import './base/index.scss';
@import './collections/index.scss';

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $background-light;
  }
  