@import '../../../../assets/styles/collections/_variables.scss';

$input-label-color: #b0b0b0;
$input-label-color-dark: #ffffff;
$input-bg-color: $background-light;
$input-border-color: $border-color;
$input-bg-color-error: $error-color;
$input-text-color: $text-color-dark;
$input-placeholder-color: $placeholder-color;
$input-box-shadow: 0 0 20px 0 $box-shadow-color;

// $input-bg-color: #f9f9f9;
// $input-border-color: #444444;
// $input-bg-color-error: rgb(255, 102, 102);
// $input-label-color: #b0b0b0;
// $input-label-color-dark: #ffffff;
// $input-text-color: #222222;
// $input-placeholder-color: #757575;
// $input-box-shadow-color: rgba(0, 0, 0, 0.1);
// $input-box-shadow: 0 0 20px 0 $input-box-shadow-color;

.required {
  &::after {
    content: '*';
    color: $input-bg-color-error;
  }
}

.input {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 160px;

  .text {
    display: flex;
    flex-direction: column;
    gap: 4px;

    label {
      font-weight: 400;
      font-size: 14px;
      color: var(--label-color, $input-label-color);
      line-height: 120%;
    }

    p {
      font-weight: 400;
      font-size: 12px;
      color: $input-text-color;
    }
  }

  input {
    width: 100%;
    padding: 0 9px;
    height: var(--input-height, 35px);
    background-color: $input-bg-color;
    border: 1px solid var(--input-border, $input-border-color);
    border-radius: 8px;
    text-overflow: ellipsis;
    box-shadow: $input-box-shadow;
    font-weight: 400;
    font-size: 14px;
    color: $input-text-color;
    line-height: 120%;

    &::placeholder {
      color: $input-text-color;
      background: $input-bg-color;
    }

    &:focus {
      outline: none;
    }
  }

  input[type='time']::-webkit-calendar-picker-indicator {
    display: none;
  }

  &__container {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;

    .password-icon {
      height: 100%;
      width: fit-content;
      padding: 0;
      margin: 0;

      position: absolute;
      right: 10px;

      background: none;
      cursor: pointer;
      border: none;

      display: flex;
      justify-content: center;
      align-items: center;

      color: $input-text-color;

      &:disabled {
        opacity: 0.35;
      }
    }

    .include-icon {
      max-width: 42px;
      max-height: 42px;

      position: absolute;
      right: 10px;

      background: none;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.5;
      transition: opacity 0.5s;

      color: $input-text-color;

      svg {
        cursor: pointer;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &.dark {
    --label-color: #{$input-label-color-dark};
  }

  &.error {
    --input-border: 1px solid #{$input-bg-color-error};
    input {
      border: 1px solid $input-bg-color-error;
    }
  }

  &.colored {
    input {
      border: unset;
      border-radius: 8px;
      background: $input-bg-color;
    }
  }

  &.disabled {
    opacity: 0.35;
    cursor: not-allowed;

    input {
      cursor: not-allowed;
    }
  }

  &.big {
    --input-height: 37px;

    label {
      font-weight: 500;
      font-size: 16px;
      color: $input-label-color;
      line-height: 120%;
    }
  }

  &.full {
    width: 100%;
  }

  &.small {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
  }
}
